{% extends "base.html" %}


{% block content %}
    <div class="container mt-2">
        <h1>Secret Number Game</h1>
    </div>
    <div class="container">
        <p>
            The task at hand is to guess a secret number between 1 and 30.
        </p>
    </div>

    {% if no_int %}
        <div class="container">
            <p class="text-danger">
                You didn't guess a valid number. Please guess a number between 1 and 30.
            </p>
        </div>
    {% endif %}

    {% if helpline %}
        <div class="container">
            {% if helpline != "Hooray" %}
                <p class="text-light bg-danger p-3">{{helpline}}</p>
            {% else %}
                <p class="text-light bg-success p-3">{{helpline}}</p>
            {% endif %}
        </div>
    {% endif %}

    {% if helpline != "Hooray" %}
        <div class="container col">
            <form method="post" action="/game">
                <div class="form-group">
                    <input type="text" class="form-control" name="guess" placeholder="Enter a number"><br>
                    <button type="submit" class="btn" style="background-color: palegreen">Submit</button>
                </div>
            </form>
        </div>
    {% endif %}

{% endblock%}